@import url('https://fonts.googleapis.com/css?family=Montserrat');
$primary: #EFEFEF;
$secondary: #A9A9A9;
$tertiary: rgb(168, 245, 194);
$button: rgb(52, 190, 105);
$border-radius: 3px;
$border-color: #5e5c5c;
$form-font: 'Montserrat', sans-serif;